body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 160%;
}

* {
  box-sizing: inherit;
}

h1 {
  font-size: 40px;
}

button {
  background-color: tomato;
  color: white;
  font-size: 20px;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
  cursor: pointer;
}

button:hover {
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

button:active {
  border: none;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

#welcomeSection {
  background-image: url("./images/syria1.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */ /* image portion will get outside screen and will not be visible if image > screen */
  background-size: 100% 100%; /* shrink/stretch image with screen size */
  color: #fff;
}

#welcomeSection h1 {
  font-size: 48px;
}

#donateTodaySection #selectAmount {
  display: flex;
}

#donateTodaySection #selectAmount span {
  background-color: #efefef;
  padding: 28px 12px;
  margin: 5px;
  color: #727272;
  font-weight: bolder;
  font-size: 24px;
  border-radius: 5px;
}

#donateTodaySection #selectAmount span.active {
  color: tomato;
  border: solid 2px tomato;
  background-color: rgba(255, 99, 71, 0.107);
}

#donateTodaySection #writeAmount {
  width: 576px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #727272;
  color: #727272;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  margin: 46px 0 0px;
}

#donatePlanSection #plans {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#donatePlanSection #plans .plan {
  flex-basis: 30%;
  padding: 10px;
  border-radius: 5px;
}

#donatePlanSection #plans #plan1 {
  background-color: rgba(0, 255, 0, 0.1);
}
#donatePlanSection #plans #plan2 {
  background-color: rgba(255, 0, 0, 0.1);
}
#donatePlanSection #plans #plan3 {
  background-color: rgba(0, 0, 255, 0.1);
}

#youtubeSection {
  min-height: 80vh;
  background-color: aliceblue;
}

#youtubeSection .work {
  display: flex;
  justify-content: center;
}

#youtubeSection .work div {
  flex-basis: 50%;
}

#youtubeSection .work .description {
  padding: 0 50px;
  border-left: solid 10px tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #efefef; */
}

#subscribeBox > div {
  display: flex;
  margin: 30px 0;
  padding: 50px 70px;
  background-color: lemonchiffon;
}

#subscribeBox div input {
  width: 396px;
  padding-left: 8px;
  margin: 0;
  height: 50px;
}

#subscribeBox button {
  margin: 0;
  height: 50px;
}

#conclusionSection {
  background-color: black;
  color: white;
  min-height: 30vh;
  padding: 30px 50px;
}

#conclusionSection h2 {
  color: tomato;
}
